<h1>Create a new Cat</h1>

<form action="<%= cats_url %>" method="post">
    <label for="name">Name:</label>
    <input type="text" name="cat[name]" id="name">

    <br>

    <label>Sex</label>
    <input type="radio" name="cat[sex]" id="sex_male" value="M">
    <label for="sex_male">Male</label>

    <input type="radio" name="cat[sex]" id="sex_female" value="F">
    <label for="sex_female">Female</label>

    <br>

    <label for="color">Color:</label>
    <select id="color" name="cat[color]">
        <option value="" disabled selected>--Select a color--</option>
        <% Cat::CAT_COLORS.each do |color| %>
            <option value="<%= color %>"><%= color %></option>
        <% end%>
    </select>

    <br>

    <label for="date">Birth Date:</label>
    <input type="date" name="cat[birth_date]" id="date">
    
    <br>

    <label for="description">Description:</label>
    <textarea name="cat[description]" id="description"></textarea>

    <br>
    
    <input type="submit" value="Create Cat">
</form>